body{
    background-image: url('../assets/images/travelbackground.JPG');
    background-repeat: no-repeat;
    background-size: 100% 70%;
  }

form{
    width: 70%;
    margin: 100px auto;
}

button{
    margin: 10px;
}